{% extends "admin/base.html" %}

{% block title %}PET FINDER{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
    #header,
    .module caption,
    #group_form>div>fieldset>div.form-row.field-permissions>div>div.related-widget-wrapper>div>div.selector-chosen>h2,
    .module h2,
    #section_form>div>fieldset:nth-child(2)>div>div>div.related-widget-wrapper>div>div.selector-chosen>h2,
    #section_form>div>fieldset:nth-child(3)>div>div>div.related-widget-wrapper>div>div.selector-chosen>h2 {
        background-color:  #77DD77;
    }


    div.breadcrumbs {
        background-color: rgb(125, 125, 125);
        ;
    }

    .model-group a,
    .model-user a,
    .model-faculty a,
    .model-grade a,
    .model-section a,
    .model-staff a,
    .model-student a,
    .model-subject a {
        color: #666;
    }

    #content-main>div.app-auth.module>table>caption>a,
    #content-main>div.app-backend.module>table>caption>a {
        color: #FFFFCC;
    }

    #content-main>ul>li>a:hover {
        background-color:  #77DD77;
    }

    #subject_form>div>div>input.default,
    #student_form>div>div>input.default,
    #staff_form>div>div>input.default,
    #section_form>div>div>input.default,
    #grade_form>div>div>input.default {
        background-color: #77DD77;
    }

    input[type="submit"] {
        background-color: #baffc9;
    }

    input[type="submit"]:hover {
        background-color:  #77DD77;
    }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Dog Finder</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}